body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}


main {
    position: relative;
    border: 3px solid black;
    width: 100%;
    height: 50em;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('../img/back.jpg');
    background-size: cover;
}

#cursorStandart {
    cursor: url('../img/cursor.png') 30 30, auto;
}

#cursorBazooka {
    cursor: url('../img/cursor_bazooka.png') 64 64, auto;
}

.pigeon {
    position: absolute;
    background-image: url('../img/pigeon.png');
    width: 100px;
    height: 92px;
    transition: 1s;
}

.deadpigeon {
    position: absolute;
    background-image: url('../img/pigeon.png');
    width: 100px;
    height: 92px;
    top: 95% !important;
    transform: rotate(1260deg);
    transition: 1s;
}

span {
    display: block;
    font-size: 2em;
}

#score {
    color: red;
}
